:root {
  --mainDark: #343a40;
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}
.App {
  display: flex;
  flex-direction: column;
  background-image: url("./assets/images/studio3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -140px;
  margin: 0;
  min-height: 85%;
}

.Site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.dropdown-hover:hover {
  background-color: #99999944;
  transition: 0.3s;
  cursor: pointer;
}
